
@mixin shadow($opacity){
	-webkit-box-shadow: 0px 3px 5px rgba(10, 10, 10, $opacity);
	-moz-box-shadow:    0px 3px 5px rgba(10, 10, 10, $opacity);
	box-shadow:         0px 3px 5px rgba(10, 10, 10, $opacity);
}

@mixin backgroundIMG($imgpath,$size,$repeat: no-repeat,$position:center) {
	background: {
        image: url($imgpath);
        size:$size;
		repeat: $repeat;
		position:$position;
    }
}

@mixin calc($property, $expression) { 
  #{$property}: -moz-calc(#{$expression}); 
  #{$property}: -o-calc(#{$expression}); 
  #{$property}: -webkit-calc(#{$expression}); 
  #{$property}: calc(#{$expression}); 
} 

@mixin gradient($gradient...){
	background-image: -webkit-linear-gradient($gradient);
	background-image: -moz-linear-gradient($gradient);
	background-image: -ms-linear-gradient($gradient);
	background-image: -o-linear-gradient($gradient);
	background-image: linear-gradient($gradient);
}

@mixin transition($transition){
    -webkit-transition: $transition;
    -moz-transition: $transition;
    -ms-transition: $transition;
    -o-transition: $transition;
    transition: $transition;
}

@mixin transition-duration($duration){
	-webkit-transition-duration: $duration;
	-moz-transition-duration: $duration;
	-ms-transition-duration: $duration;
	-o-transition-duration: $duration;
	transition-duration: $duration;
}


@mixin transition-ease($ease){
    -webkit-transition-timing-function: $ease;
    -moz-transition-timing-function: $ease;
    -ms-transition-timing-function: $ease;
    -o-transition-timing-function: $ease;
    transition-timing-function: $ease;
}


@mixin transition-delay($delay){
    -webkit-transition-delay: $delay;
    -moz-transition-delay: $delay;
    -ms-transition-delay: $delay;
    -o-transition-delay: $delay;
    transition-delay: $delay;
}

@mixin transform($transform){
	-webkit-transform: $transform;
	-moz-transform: $transform;
	-ms-transform: $transform;
	-o-transform: $transform;
	transform: $transform;

	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

@mixin inset-text{
	text-shadow: 0 -1px 1px rgba(black,0.3);
	-webkit-font-smoothing: antialiased;
}


@mixin animation($ani){
	-webkit-animation: $ani;
	-moz-animation: $ani;
	-ms-animation: $ani;
	-o-animation: $ani;
	animation: $ani;
}

@mixin keyframes($name) {
    @-webkit-keyframes #{$name} { @content; }
    @-moz-keyframes #{$name} { @content; }
    @-ms-keyframes #{$name} { @content; }
    @-o-keyframes #{$name} { @content; }
    @keyframes #{$name} { @content; }
}
