@import "mixins";

$bottomHeight: 70px;
$background: url(tasky_pattern.png) repeat 50%;

//#252303

@include keyframes(loadingAnimation){
    0%{
        @include transform(scale(1));
        opacity: 1;
    }
    100%{
        @include transform(scale(3));
        opacity: 0;
    }
}

html, body{
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

body{
    position: relative;
    background: $background;
    font-family: sans-serif;
}

.touchButton{
    -webkit-user-select: none;
}

.touchButton:not(.disabled):active{
    text-shadow: 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white,
                 0 0 50px white !important; //crazy shit
}

#main{
    position: relative;
    height: 100%;
    width: 100%;
    @include transform(translateZ(0));
    @include transition-duration(0.3s);
    @include transition-ease(ease-out);

    &>*{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0; 
        @include transition-duration(0.3s);
        @include transform(translateX(-100%));
        @include transition-ease(ease-out);

        &.shown{
            @include transform(translateX(0));

            ~ *{
                @include transform(translateX(100%));
            }
        }
    }
}

#list{
    list-style: none;
    padding: 0;
    margin: 0;
    min-height: 101%;
    background: $background;
    overflow: hidden;
    -webkit-user-select: none;

    @include transform(translateZ(0));

    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.5); 
    font-weight: bold;

    .noitem, .newsItem{
        height: 96px;
        box-sizing: border-box;
        font-size: 1.2em;
        box-shadow: 0 0 5px black, inset 0 2px 7px rgba(white, 0.3);
        // overflow: hidden;

        position:relative;

        @include gradient(top, #f1e767, #feb645);
        @include transform(translateZ(0));

        &.hidden{
            height: 0;
            padding: 0;
            overflow: hidden;
        }
    }

    .noitem{
        padding-top: 1.8em;
        padding-left: 1em;

        @include inset-text();
    }

    .newsItem{
        &.read{
            @include gradient(top, darken(#f1e767, 35), darken(#feb645, 35));
            text-shadow: none;
        }

        .star{
            background: red;
            position: absolute;
            top: 1em;
            left: 0;
            padding: 4px 4px;
            box-shadow: 1px 0px 2px rgba(black, 0.7);
            color: #f1e767;

            @include transition-duration(0.2s);
            opacity: 0;

            text-shadow: 0 -1px 0 rgba(0,0,0,.6);
        }

        .delete{
            display: block;
            background: red;
            color: white;
            position: absolute;
            left: 100%;
            top: -10px;
            margin-left: -10px;
            width: 20px;
            height: 20px;
            border-radius: 20px;
            line-height: 17px;
            text-align: center;

            box-shadow: 0 0 5px black;
            color: white;
            border: 2px solid white;

            @include gradient(top, lighten(red, 20), darken(red, 20));
            @include transition-duration(0.1s);
            @include transform(scale(0));
        }

        &.starred .star{
            opacity: 1;
        }

        &:active{
            @include gradient(top, darken(#f1e767, 40), darken(#feb645, 40));
        }

        &.toRemove{
            .delete{
                @include transform(scale(1));
            }
        }

        &.toStar{
            .star{
                opacity: 0.5;

                @include transform(translateX(-26px));
            }

        }

        .title{
            line-height: 96px;
            padding-left: 20px;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: 100%;
            height: 96px;
            box-sizing: border-box;
            overflow: hidden;
        }

        .date, .from{
            position: absolute;
            font-size: 0.7em;
            right: 1em;
            color: #444;
        }

        .date{
            bottom: 1em;
        }

        .from{
            top: 1em;
        }

        .smaller{
            font-size: 0.8em;
        }

        .smaller2{
            font-size: 0.7em;
        }
    }
}

#reload{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1em;
    color: #aaa;
    font-weight: bold;
    text-align: center;

    @include inset-text();

    .arrow{
        font-size: 1.5em;
        position: relative;
        display: inline-block;

        @include transition-duration(0.3s);
    }

    .arrow.rotate{
        @include transform(rotate(180deg));
    }

    &.hidden{
        display: none;
    }
}

.mainscroll{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: $bottomHeight;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;

    @include transform(translateZ(0));

    .loading{
        color: #eee;
        font-weight: bold;
        text-align: center;
        height: 0;
        overflow: hidden;

        box-sizing: border-box;


        position: relative;
        z-index: 1;

        @include transition-duration(0.5s);
        @include inset-text();

        &.shown{
            height: 70px;
            padding-top: 5px;
        }

        $symbolSize: 10px;
        .symbol{
            height: $symbolSize;
            width: $symbolSize;
            border-radius: $symbolSize;
            background: #eee;
            margin: 10px auto;

            @include animation(loadingAnimation infinite 1s);
        }
    }
}

.bottombar{
    position: absolute;
    -webkit-user-select: none;
    bottom: 0;
    left: 0;
    right: 0;
    height: $bottomHeight;
    box-sizing: border-box;
    box-shadow: 0 0 5px black;

    @include gradient(top, #555, #222 50%, #212121 51%, #0d0d0d);

    a:link, a:visited{
        text-decoration: none;
        color: #ccc;
    }

    .icon{
        font-size: 30px;
        // text-shadow: 0 1px 1px white, 0 -1px 1px black;
        font-weight: bold;
    }

    a {
        width: 50%;
        display: block;
        float: left;
        text-align: center;
        box-sizing: border-box;
        padding: 1em;
        height: 100%;
        padding: 5px;
        position: relative;

        &:not(:last-of-type){
            border-right: 1px solid black;
        }

        &:not(:first-of-type){
            border-left: 1px solid #444;
        }

        &:active, &.current{
            @include gradient(top, rgba(#fff, 0.3), rgba(#aaa, 0.3) 50%, rgba(#888, 0.3) 51%, rgba(#aaa, 0.3));
            background-clip: content-box;
            color: #eee;

            .icon{
                @include gradient(top, lighten(#f1e767, 30), darken(#feb645, 30));
                -webkit-background-clip: text;
                -webkit-text-stroke: 1px #f1e767;
                -webkit-text-fill-color: transparent;
            }
        }
    }

    .name{
        font-size: 10px;
        @include inset-text();
    }

    .count{
        position: absolute;
        top: 2px;
        left: 50%;
        margin-left: 10px;
        border: 2px solid white;
        border-radius:100px;
        font-size: 0.7em;

        padding: 3px 7px;
        text-align: center;

        box-shadow: 0 1px 2px rgba(0,0,0,.5),
                    0 1px 4px rgba(0,0,0,.4),
                    0 0 1px rgba(0,0,0,.7) inset,
                    0 4px 0px rgba(255,255,255,.11) inset;
        color: white;
        text-shadow: 0 -1px 0 rgba(0,0,0,.6);

        @include gradient(top, lighten(#FF6969, 20), darken(#ff0000, 20));
    }
}

.searchbar{
    padding: 4px 0.6em;
    box-shadow: 0 0 5px black;

    @include gradient(top, #f2c94d 0%, #e0a162 50%, #e0964c 51%, #d37400 100%);
    @include transform(translateZ(0));

    input[type='search']{
        display: block;
        border: 1px solid black;
        border-radius: 20px;
        box-shadow: 0 1px 5px black inset;
        width: 100%;
        font-size: 16px;

        &:focus{
            outline: none;
        }
    }
}
$itemFooterheight: 40px;
#itemView{
    background: white;

    background: #f6e6b4;
    @include transform(translateZ(0));

    &>ul{
        list-style: none;
        margin: 0;
        padding: 0;
    }

    @include transform(translateZ(0));

    .prev-drag{
        height: 70px;
        top: -70px;
        position: absolute;
        left: 0;
        right: 0;

        @include gradient(top, white, black);
    }

    .perItem{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: block;

        @include transform(translateY(-100%));
        @include transition(all 300ms cubic-bezier(0.605, 0.065, 0.525, 1.180));

        &.current{
            @include transform(translateY(0));
            
            ~ .perItem{
                @include transform(translateY(100%));
            }
        }
    }

    header{
        padding: 1em;
        @include gradient(top, darken(#f6e6b4, 3), #f6e6b4 50%, darken(#f6e6b4, 3));
        border-bottom: 1px solid darken(#f6e6b4, 30);
        box-shadow: 0 1px 0 #eee;
        text-align: center;

        .star{
            font-size: 2em;
            display: inline-block;
            padding: 1em;
            margin: -1em 0;
        }

        &>h2{
            margin-bottom: 0.2em;
            margin-top: 0.1em;
        }

        &>div{
            font-size: 0.6em;
            color: #555;
        }
    }

    .mainarea{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: $itemFooterheight;
        overflow: scroll;
        -webkit-overflow-scrolling: touch;
        z-index: 0;
        border: 1px solid darken(#f6e6b4, 30);
        border-top: none;
        border-bottom: none;
    }


    &:before{
        content: "";
        position: absolute;
        display: block;
        left: 0;
        right: 0;
        height: $itemFooterheight + 10px;
        bottom: -10px;
        box-shadow: 0 0 5px rgba(black, 0.7);
        border-radius: 100%/10px;
    }

    .content{
        padding: 1em;
    }

    footer{
        -webkit-user-select: none;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        height: $itemFooterheight;
        background-color: darken(#f6e6b4, 5);
        text-align: center;
        line-height: $itemFooterheight;
        border-top: 1px solid darken(#f6e6b4, 30);

        box-shadow: inset 0 1px 1px rgba(white, 0.5);

        .touchButton{
            text-shadow: 0 1px 3px black;
            padding: 20px 60px;
            margin: -20px -10px;

            &.disabled{
                color: #aaa;
                text-shadow: 0 1px 1px white;
            }
        }

        // .next{
        //     background: rgba(red, 0.5);
        // }

        // .previous{
        //     background: rgba(blue, 0.5);
        // }
    }
}